ul {
  list-style-type: none;
  width: 1000px;


}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: white;
  background-image: linear-gradient(rgba(24, 85, 136, 0.5), rgba(170, 238, 255, 0.5));
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
}
