.container {
margin-top: 10px;
}

.playlist-icon {
  width: 200px;

}

header:hover {
  transform: translateY(-4px);
}


header {
  width: 1000px;
  margin: 0 auto;
  font-family: 'Virtual';
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 8em;
  font-size: large;
  transition-duration: 0.4s;
}
