.container {
margin-top: 10px;
}


.danger-btn {
  border-radius: 5px;
  border: 1px solid white;
  background-color: tomato;
  color: white;

}

.danger-btn:hover {
  background-color: red;
}

.bubble-divider {
  text-align: center;

}

.playlist-icon {
  width: 200px;
}

header {
  font-family: 'Virtual';
  border-radius: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 2em;
  font-size: large;
}
