
<header><h1>Add to Playlist</h1></header>
<div class="new-song">
  <form (ngSubmit)="addSongHandler()" class="form-css">

    <div class="song-form">
    <input type="text" name="title" placeholder="song title..." [(ngModel)]="title" class="input-css1">

    <input type="text" name="artist" placeholder="artist..." [(ngModel)]="artist" class="input-css1">

    <input type="text" name="album" placeholder="album title..." [(ngModel)]="album" class="input-css1">

    <input type="number" name="year" placeholder="year..." [(ngModel)]="year" class="input-css">


    <button class="add-btn-css">Add Song</button>
  </div>
  </form>
</div>

